<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt=""> Employee Details
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" (click)="getEmployeeData()">Load Employee Details</a>
    </li>
  </ul>
</nav>
<div class="container employee-table">
  <div class="row">
    <div class="col">
        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-primary dropdown-text-overflow" tooltip={{selectedValue}} >{{selectedValue}}</button>
            <button id="button-split" type="button" dropdownToggle class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    aria-controls="dropdown-split" (click)="getEmployeeData()">
              <span class="caret"></span>
              <span class="sr-only">Split button!</span>
            </button>
            <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-split">
              <li role="menuitem" *ngFor="let employee of employeeDetailsList;let i = index;"><a class="dropdown-item dropdown-text-overflow"  (click)="getSelectedValue(employee)" tooltip={{employee.name}}>{{employee.name}}</a></li>
              
            </ul>
          </div>
    </div>
  </div>
  <table class="table table-striped table-bordered table-md">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeDetailsList;let i = index;">
        <th scope="row">{{i+1}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.address.city}}</td>
      </tr>

    </tbody>
  </table>
</div>
